~
__pycache__
mirror-tools/openwrt-*

OpenWrt-ImageBuilder-*.tar.*
OpenWrt-SDK-*.tar.*

openwrt-imagebuilder-*.tar.*
openwrt-sdk-*.tar.*

myfiles_for_image
myfiles-secret*.py
!myfiles-secret-example.py

myimages/openwrt-*.img

mypackages/*.ipk
mypackages/BaiduExporter*.crx
mypackages/Packages.gz

work/*
